<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .fragment {
            position: relative;
        }
        
        #closeButton {
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a class="fragment" href="google.com">
        <button id="closeButton">close</button>
        <div>
            <img src="http://placehold.it/116x116" alt="some description" />
            <h3>the title will go here</h3>
            <h4> www.myurlwill.com </h4>
            <p class="text">
                this is a short description yada yada peanuts etc this is a short description yada yada peanuts etc this is a short description yada yada peanuts etc this is a short description yada yada peanuts etcthis is a short description yada yada peanuts etc
            </p>
        </div>
    </a>
</body>
<script>
    document.getElementById('closeButton').addEventListener('click', function(e) {
        e.preventDefault();
        this.parentNode.style.display = 'none';
    }, false);
</script>

</html>